<h1> <%= @restaurant.name %></h1>
<h2><%= link_to "Book a table!", new_restaurant_reservation_path(@restaurant) %></h2>

<div class="data">
	<%= @restaurant.description%><br>
	<%= @restaurant.address%> <br>
	<%= @restaurant.phone_number%><br> 
	<%= @restaurant.category%><br>
</div>


<p>
<%= link_to "Edit", edit_restaurant_path %> |
<%= link_to "Delete", @restaurant, method: :delete, data: {confirm: "Are you sure you want to delete this product?"} %>
</p>