<!DOCTYPE html>
<html>
<head>
  <title>Bookmaker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav>
		<%= link_to "Home", restaurants_path %>
		<%= link_to "Add a new Restaurant", new_restaurant_url %>
	</nav>


<%= yield %>

</body>
</html>
